@import "/styles/variables.less";
@import "/styles/variables-css.less";

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: var(--font-family);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fff;
  width: 100vw;
  overflow-x: hidden;
}
